$background-color: white;
$background-color-2: white;
$temp-bg-1: #aaabba;
$temp-bg-2: #307dd3;
$temp-bg-3: #FF6C00;
$temp-bg-4: #FFCA00;

$primary-font-color: black;
$header-font-color: #707070;
$content-font-color: #afafaf;
$primary-font: 'Ubuntu Mono';
$font-type: monospace;
$drop-shadow-color: #c9c9c9;

$pad-min: 0.5em;
$cell-height: 9.4em;
$cell-width: $cell-height * 1.2;

html {
  background-color:  $background-color;
  body {
    color: $primary-font-color;
    .bounds {
      background-color: $background-color;
      height: fit-content; width: 600px;
      // padding: 0.5em repeat(3, 2em);
      margin: auto;
      #headerContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: $primary-font, $font-type;
        background-color: $background-color;
        padding: $pad-min 0 $pad-min 0;
        margin-bottom: 2em; margin-top: 2em;
        border-top: 0.05em solid $drop-shadow-color;
        #toHomepage {
          font-size: 3.4em;
          // font-weight: bold;
          letter-spacing: 0.15em;
          width: fit-content;
          color: $header-font-color;
          text-decoration: none;
        }
        #welcome {
          width: 40%;
          font-size: 0.65em;
          color: $content-font-color;
          padding: ($pad-min / 2) 0 ($pad-min / 2) 1em;
          border-left: 0.05em solid $drop-shadow-color;
        }
      }
    }
  }
}