$background-color: white;
$background-color-2: white;
$temp-bg-1: #aaabba;
$temp-bg-2: #307dd3;
$temp-bg-3: #FF6C00;
$temp-bg-4: #FFCA00;

$primary-font-color: black;
$header-font-color: #707070;
$content-font-color: #afafaf;
$highlight-font-color: white;
$primary-font: 'Ubuntu Mono';
$font-type: monospace;
$drop-shadow-color: #c9c9c9;

$pad-min: 0.5em;
$thumbnail-radius: 0.5em;
$cell-height: 9.4em;
$cell-width: $cell-height * 1.2;
$form-height: 15em;

html {
  body {
    .bounds {
      margin: auto;
      #gallery_bounds {
        display: flex;
        justify-content: space-between;
        #gallery_featuredContainer {
          // padding-top: $pad-min; padding-bottom: $pad-min;
          display: flex;
          flex-direction: column;
          margin-top: $pad-min; margin-bottom: $pad-min;
          #gallery_photoName {
            font-family: $primary-font, $font-type;
            color: $header-font-color;
            .innerText {
              font-family: $primary-font, $font-type;
              font-size: 0.5em;
              color: $content-font-color;
              text-decoration: none;
            }
          }
          #gallery_featured {
            // background-color: $temp-bg-3;
            box-shadow: 0.05em 0.2em 1em $drop-shadow-color;
            height: 20em; width: 36.3em;
            margin: 0.5em 0 0.5em 0;
            overflow: hidden;
            .image {
              border-radius: $thumbnail-radius;
              height: 20em; width: 100%;
            }
          }
          #gallery_alterContainer {
            display: flex;
            justify-content: flex-end;
            height: 1em;
            #gallery_edit input, #gallery_delete input {
              background-color: $background-color;
              font-family: $primary-font, $font-type;
              font-size: 0.6em;
              color: $content-font-color;
              height: 1em;
              border: none;
            }
            #gallery_edit input {
              border-right: 0.05em solid $content-font-color;
            }
          }
          .author {
            color: $content-font-color;
            font-size: 0.6em;
            .bullet {
              position: relative;
              top: 0.09em;
            }
            .stamp {
              font-size: 0.8em;
            }
          }
          .caption {
            color: $content-font-color;
            font-size: 0.7em;
          }
          .description {
            color: $header-font-color;
            font-size: 0.9em;
          }
        }
        // #gallery_featuredContainer {
        //   background-color: blue;
        //   height: 60em; width: 70%;
        // }
        #gallery_otherContainer {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          margin-top: 1.6em;
          // border-top: 0.05em solid $content-font-color;
          .listing {
            // background-color: $temp-bg-4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0.05em 0.2em 1em $drop-shadow-color;
            height: $cell-height; width: $cell-width;
            margin: $pad-min 0 $pad-min 0;
            .thumbnail, .author, .description {
              background-color: $background-color-2;
              margin: 0.1em;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              // text-emphasis: wrap;
            }
            .description, .author {
              margin-left: 0.4em;
            }
            .thumbnail {
              background-color: $background-color-2;
              height: 7.4em; width: 98%;
              .image {
                border-radius: $thumbnail-radius;
                height: 100%; width: 100%;
              }
            }
            .author {
              color: $content-font-color;
              font-size: 0.6em;
              .bullet {
                position: relative;
                top: 0.09em;
              }
              .stamp {
                position: relative;
                bottom: 0.1em;
                font-size: 0.7em;
              }
            }
            .description {
              height: 1.1em;
              color: $header-font-color;
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
}
