$background-color: white;
$background-color-2: white;
$temp-bg-1: #aaabba;
$temp-bg-2: #307dd3;
$temp-bg-3: #FF6C00;
$temp-bg-4: #FFCA00;

$primary-font-color: black;
$header-font-color: #707070;
$content-font-color: #afafaf;
$highlight-font-color: white;
$primary-font: 'Ubuntu Mono';
$font-type: monospace;
$drop-shadow-color: #c9c9c9;

$pad-min: 0.5em;
$thumbnail-radius: 0.5em;
$cell-height: 9.4em;
$cell-width: $cell-height * 1.2;
$form-height: 15em;

html {
  background-color:  $background-color;
  body {
    color: $primary-font-color;
    .listings_bounds {
      background-color: $background-color;
      height: fit-content; width: 600px;
      // padding: 0.5em repeat(3, 2em);
      margin: auto;
      #listingsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        // background-color: $temp-bg-2;
        height: fit-content; width: 100%;
        #featuredContainer {
          // padding-top: $pad-min; padding-bottom: $pad-min;
          margin-top: $pad-min; margin-bottom: $pad-min;
          box-shadow: 0.05em 0.2em 1em $drop-shadow-color;
          #featured {
            // background-color: $temp-bg-3;
            height: 20em; width: 36.3em;
            overflow: hidden;
            .image {
              border-radius: $thumbnail-radius;
              width: 100%; height: 100%;
            }
          }
        }
        #otherContainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          // border-top: 0.05em solid $content-font-color;
          overflow: scroll;
          .listing {
            // background-color: $temp-bg-4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0.05em 0.2em 1em $drop-shadow-color;
            height: $cell-height; width: $cell-width;
            margin: $pad-min 0 $pad-min 0;
            .thumbnail, .author, .description {
              background-color: $background-color-2;
              margin: 0.1em;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              // text-emphasis: wrap;
            }
            .description, .author {
              margin-left: 0.4em;
            }
            .thumbnail {
              background-color: $background-color-2;
              height: 7.4em; width: 98%;
              .image {
                border-radius: $thumbnail-radius;
                height: 100%; width: 100%;
              }
            }
            .author {
              color: $content-font-color;
              font-size: 0.6em;
              .bullet {
                position: relative;
                top: 0.09em;
              }
              .stamp {
                position: relative;
                bottom: 0.1em;
                font-size: 0.7em;
              }
            }
            .description {
              height: 1.1em;
              color: $header-font-color;
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }
}
