$background-color: white;
$background-color-2: white;
$temp-bg-1: #aaabba;
$temp-bg-2: #307dd3;
$temp-bg-3: #FF6C00;
$temp-bg-4: #FFCA00;

$primary-font-color: black;
$header-font-color: #707070;
$content-font-color: #afafaf;
$highlight-font-color: white;
$primary-font: 'Ubuntu Mono';
$font-type: monospace;
$drop-shadow-color: #c9c9c9;

$pad-min: 0.5em;
$thumbnail-radius: 0.5em;
$cell-height: 9.4em;
$cell-width: $cell-height * 1.2;
$form-height: 15em;

html {
  body {
    .bounds {
      #new_container {
        #new_tooltip {
          font-family: $primary-font, $font-type;
          font-size: 0.9em;
          color: $header-font-color;
        }
        #new_makePost {
          #new_inputContainer {
            display: flex;
          }
          #new_submitContainer {
            display: flex;
            flex-direction: column;
            width: 80%;
          }
        }
      }
    }
  }
}
