$background-color: white;
$temp-bg-1: #aaabba;
$temp-bg-2: #094BB3;
$temp-bg-3: #FF6C00;
$temp-bg-4: #FFCA00;

$primary-font-color: black;
$secondary-font-color: #707070;
$content-font-color: #afafaf;
$primary-font: 'Ubuntu Mono';
$font-type: monospace;

$pad-min: 0.8em;
$cell-height: 9em;
$cell-width: $cell-height * 1.2;

@import 'reset';

html {
  background-color:  $background-color;
  body {
    color: $primary-font-color;
    .bounds {
      background-color: $background-color;
      height: fit-content; width: 600px;
      padding: 2em;
      margin: auto;
      #headerContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: $primary-font, $font-type;
        background-color: $background-color;
        padding: $pad-min 0 $pad-min 0;
        #toHomepage {
          font-size: 3.4em;
          letter-spacing: 0.15em;
          width: fit-content;
          color: $secondary-font-color;
          text-decoration: none;
        }
        #welcome {
          width: 40%;
          font-size: 0.65em;
          color: $content-font-color;
          padding: ($pad-min / 2) 0 ($pad-min / 2) 1em;
          border-left: 1px solid $content-font-color;
        }
      }

      #listingsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        // background-color: $temp-bg-2;
        height: 120vh; width: 100%;
        #featuredContainer {
          padding-top: $pad-min; padding-bottom: $pad-min;
          box-shadow: 0.05em 0.2em 1em $content-font-color;
          #featured {
            // background-color: $temp-bg-3;
            height: 16em; width: 36.3em;
          }
        }
        #otherContainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          .listing {
            // background-color: $temp-bg-4;
            box-shadow: 0.05em 0.2em 1em $content-font-color;
            height: $cell-height; width: $cell-width;
            margin: $pad-min 0 $pad-min 0;
          }
        }
      }
    }
  }
}
