html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: white; }
  html body {
    color: black; }
    html body .bounds {
      background-color: white;
      height: fit-content;
      width: 600px;
      margin: auto; }
      html body .bounds #headerContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Ubuntu Mono", monospace;
        background-color: white;
        padding: 0.5em 0 0.5em 0;
        margin-bottom: 2em;
        margin-top: 2em;
        border-top: 0.05em solid #c9c9c9; }
        html body .bounds #headerContainer #toHomepage {
          font-size: 3.4em;
          letter-spacing: 0.15em;
          width: fit-content;
          color: #707070;
          text-decoration: none; }
        html body .bounds #headerContainer #welcome {
          width: 40%;
          font-size: 0.65em;
          color: #afafaf;
          padding: 0.25em 0 0.25em 1em;
          border-left: 0.05em solid #c9c9c9; }

html body .bounds {
  margin: auto; }
  html body .bounds #gallery_bounds {
    display: flex;
    justify-content: space-between; }
    html body .bounds #gallery_bounds #gallery_featuredContainer {
      display: flex;
      flex-direction: column;
      margin-top: 0.5em;
      margin-bottom: 0.5em; }
      html body .bounds #gallery_bounds #gallery_featuredContainer #gallery_photoName {
        font-family: "Ubuntu Mono", monospace;
        color: #707070; }
      html body .bounds #gallery_bounds #gallery_featuredContainer #gallery_featured {
        box-shadow: 0.05em 0.2em 1em #c9c9c9;
        height: 20em;
        width: 36.3em;
        margin: 0.5em 0 0.5em 0;
        overflow: hidden; }
        html body .bounds #gallery_bounds #gallery_featuredContainer #gallery_featured .image {
          border-radius: 0.5em;
          height: 20em;
          width: 100%; }
      html body .bounds #gallery_bounds #gallery_featuredContainer #gallery_alterContainer {
        display: flex;
        justify-content: flex-end;
        height: 1em; }
        html body .bounds #gallery_bounds #gallery_featuredContainer #gallery_alterContainer #gallery_edit input, html body .bounds #gallery_bounds #gallery_featuredContainer #gallery_alterContainer #gallery_delete input {
          background-color: white;
          font-family: "Ubuntu Mono", monospace;
          font-size: 0.6em;
          color: #afafaf;
          height: 1em;
          border: none; }
        html body .bounds #gallery_bounds #gallery_featuredContainer #gallery_alterContainer #gallery_edit input {
          border-right: 0.05em solid #afafaf; }
      html body .bounds #gallery_bounds #gallery_featuredContainer .author {
        color: #afafaf;
        font-size: 0.6em; }
        html body .bounds #gallery_bounds #gallery_featuredContainer .author .bullet {
          position: relative;
          top: 0.09em; }
        html body .bounds #gallery_bounds #gallery_featuredContainer .author .stamp {
          font-size: 0.8em; }
      html body .bounds #gallery_bounds #gallery_featuredContainer .caption {
        color: #afafaf;
        font-size: 0.7em; }
      html body .bounds #gallery_bounds #gallery_featuredContainer .description {
        color: #707070;
        font-size: 0.9em; }
    html body .bounds #gallery_bounds #gallery_otherContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 1.6em; }
      html body .bounds #gallery_bounds #gallery_otherContainer .listing {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0.05em 0.2em 1em #c9c9c9;
        height: 9.4em;
        width: 11.28em;
        margin: 0.5em 0 0.5em 0; }
        html body .bounds #gallery_bounds #gallery_otherContainer .listing .thumbnail, html body .bounds #gallery_bounds #gallery_otherContainer .listing .author, html body .bounds #gallery_bounds #gallery_otherContainer .listing .description {
          background-color: white;
          margin: 0.1em;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden; }
        html body .bounds #gallery_bounds #gallery_otherContainer .listing .description, html body .bounds #gallery_bounds #gallery_otherContainer .listing .author {
          margin-left: 0.4em; }
        html body .bounds #gallery_bounds #gallery_otherContainer .listing .thumbnail {
          background-color: white;
          height: 7.4em;
          width: 98%; }
          html body .bounds #gallery_bounds #gallery_otherContainer .listing .thumbnail .image {
            border-radius: 0.5em;
            height: 100%;
            width: 100%; }
        html body .bounds #gallery_bounds #gallery_otherContainer .listing .author {
          color: #afafaf;
          font-size: 0.6em; }
          html body .bounds #gallery_bounds #gallery_otherContainer .listing .author .bullet {
            position: relative;
            top: 0.09em; }
          html body .bounds #gallery_bounds #gallery_otherContainer .listing .author .stamp {
            position: relative;
            bottom: 0.1em;
            font-size: 0.7em; }
        html body .bounds #gallery_bounds #gallery_otherContainer .listing .description {
          height: 1.1em;
          color: #707070;
          font-size: 0.7em; }

html body .bounds #new_container #new_tooltip {
  font-family: "Ubuntu Mono", monospace;
  font-size: 0.9em;
  color: #707070; }

html body .bounds #new_container #new_makePost #new_inputContainer {
  display: flex; }

html body .bounds #new_container #new_makePost #new_submitContainer {
  display: flex;
  flex-direction: column;
  width: 80%; }

html body #login_container {
  display: flex;
  justify-content: center; }
  html body #login_container #login_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0.05em 0.2em 1em #afafaf;
    margin: 0;
    height: 15em;
    width: 15em; }
    html body #login_container #login_wrap label, html body #login_container #login_wrap input, html body #login_container #login_wrap button {
      font-family: "Ubuntu Mono", monospace;
      color: #707070; }
    html body #login_container #login_wrap #login_banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #307dd3;
      position: relative;
      bottom: 0.5em;
      height: 1.6em;
      width: 100%; }
      html body #login_container #login_wrap #login_banner .prompt {
        font-family: "Ubuntu Mono", monospace;
        font-size: 0.9em;
        color: white; }
    html body #login_container #login_wrap button {
      color: white;
      border: none;
      box-shadow: 0.05em 0.2em 0.5em #afafaf; }
    html body #login_container #login_wrap #login_buttonContainer {
      display: flex;
      align-items: flex-end;
      position: relative;
      top: 1.8em;
      width: 100%; }
      html body #login_container #login_wrap #login_buttonContainer .login_buttonLogin {
        background-color: #307dd3;
        height: 1.6em;
        width: 50%; }
      html body #login_container #login_wrap #login_buttonContainer .login_buttonRegister {
        background-color: #aaabba;
        height: 1.6em;
        width: 50%; }
    html body #login_container #login_wrap input {
      border: 1px solid #cccccc;
      color: #707070; }

html body #register_container {
  display: flex;
  justify-content: center; }
  html body #register_container #register_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0.05em 0.2em 1em #afafaf;
    margin: 0;
    height: 15em;
    width: 15em; }
    html body #register_container #register_wrap label, html body #register_container #register_wrap input, html body #register_container #register_wrap button {
      font-family: "Ubuntu Mono", monospace;
      color: #707070; }
    html body #register_container #register_wrap #register_banner {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #307dd3;
      position: relative;
      bottom: 0.5em;
      height: 1.6em;
      width: 100%; }
      html body #register_container #register_wrap #register_banner .prompt {
        font-family: "Ubuntu Mono", monospace;
        font-size: 0.9em;
        color: white; }
    html body #register_container #register_wrap button {
      color: white;
      border: none;
      box-shadow: 0.05em 0.2em 0.5em #afafaf; }
    html body #register_container #register_wrap #register_buttonContainer {
      display: flex;
      align-items: flex-end;
      position: relative;
      top: 1.8em;
      width: 100%; }
      html body #register_container #register_wrap #register_buttonContainer .register_buttonRegister {
        background-color: #307dd3;
        height: 1.6em;
        width: 50%; }
      html body #register_container #register_wrap #register_buttonContainer .register_buttonLogin {
        background-color: #aaabba;
        height: 1.6em;
        width: 50%; }
    html body #register_container #register_wrap input {
      border: 1px solid #cccccc;
      color: #707070; }

html {
  background-color: white; }
  html body {
    color: black; }
    html body .bounds {
      background-color: white;
      height: fit-content;
      width: 600px;
      margin: auto; }
      html body .bounds #listingsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: fit-content;
        width: 100%; }
        html body .bounds #listingsContainer #featuredContainer {
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          box-shadow: 0.05em 0.2em 1em #c9c9c9; }
          html body .bounds #listingsContainer #featuredContainer #featured {
            height: 20em;
            width: 36.3em;
            overflow: hidden; }
            html body .bounds #listingsContainer #featuredContainer #featured .image {
              border-radius: 0.5em;
              width: 100%;
              height: 100%; }
        html body .bounds #listingsContainer #otherContainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          overflow: scroll; }
          html body .bounds #listingsContainer #otherContainer .listing {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0.05em 0.2em 1em #c9c9c9;
            height: 9.4em;
            width: 11.28em;
            margin: 0.5em 0 0.5em 0; }
            html body .bounds #listingsContainer #otherContainer .listing .thumbnail, html body .bounds #listingsContainer #otherContainer .listing .author, html body .bounds #listingsContainer #otherContainer .listing .description {
              background-color: white;
              margin: 0.1em;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden; }
            html body .bounds #listingsContainer #otherContainer .listing .description, html body .bounds #listingsContainer #otherContainer .listing .author {
              margin-left: 0.4em; }
            html body .bounds #listingsContainer #otherContainer .listing .thumbnail {
              background-color: white;
              height: 7.4em;
              width: 98%; }
              html body .bounds #listingsContainer #otherContainer .listing .thumbnail .image {
                border-radius: 0.5em;
                height: 100%;
                width: 100%; }
            html body .bounds #listingsContainer #otherContainer .listing .author {
              color: #afafaf;
              font-size: 0.6em; }
              html body .bounds #listingsContainer #otherContainer .listing .author .bullet {
                position: relative;
                top: 0.09em; }
              html body .bounds #listingsContainer #otherContainer .listing .author .stamp {
                position: relative;
                bottom: 0.1em;
                font-size: 0.7em; }
            html body .bounds #listingsContainer #otherContainer .listing .description {
              height: 1.1em;
              color: #707070;
              font-size: 0.7em; }
