html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: white; }
  html body {
    color: black; }
    html body .bounds {
      background-color: white;
      height: fit-content;
      width: 600px;
      padding: 2em;
      margin: auto; }
      html body .bounds #headerContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: "Ubuntu Mono", monospace;
        background-color: white;
        padding: 0.8em 0 0.8em 0; }
        html body .bounds #headerContainer #toHomepage {
          font-size: 3.4em;
          letter-spacing: 0.15em;
          width: fit-content;
          color: #707070;
          text-decoration: none; }
        html body .bounds #headerContainer #welcome {
          width: 40%;
          font-size: 0.65em;
          color: #afafaf;
          padding: 0.4em 0 0.4em 1em;
          border-left: 1px solid #afafaf; }
      html body .bounds #listingsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 120vh;
        width: 100%; }
        html body .bounds #listingsContainer #featuredContainer {
          padding-top: 0.8em;
          padding-bottom: 0.8em;
          box-shadow: 0.05em 0.2em 1em #afafaf; }
          html body .bounds #listingsContainer #featuredContainer #featured {
            height: 16em;
            width: 36.3em; }
        html body .bounds #listingsContainer #otherContainer {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center; }
          html body .bounds #listingsContainer #otherContainer .listing {
            box-shadow: 0.05em 0.2em 1em #afafaf;
            height: 9em;
            width: 10.8em;
            margin: 0.8em 0 0.8em 0; }
