<div id="edit_container">
  <div id="edit_tooltip">Submit a post:</div>

  {{#with featured}}
  <form action="/gallery/{{id}}?_method=PUT" method="POST" id="edit_makePost">
    {{!-- <div id="edit_inputContainer">
      <input type="text" value="author" placeholder="Author" id="edit_author">
      <input type="text" value="link" placeholder="URL" id="edit_link">
    </div> --}}

    <div id="edit_submitContainer">
      <input type="text" name="author" value="author" placeholder="Author" id="edit_author">
      <input type="text" name="link" value="link" placeholder="URL" id="edit_link">
      <textarea name="description" id="edit_description" cols="50" rows="10" placeholder="Describe your image here..."></textarea>
      <input type="submit" value="Submit" id="edit_submitPost">
    </div>
    {{/with}}
  </form>
</div>
