<div id="listingsContainer">
  <div id="featuredContainer">
    <div id="featured"></div>
  </div>
  <div id="otherContainer">
    <div class="listing"></div>
    <div class="listing"></div>
    <div class="listing"></div>
    <div class="listing"></div>
    <div class="listing"></div>
    <div class="listing"></div>
  </div>
</div>