  <div id="login_container">
    <form action="/login" method="POST" id="login_wrap">
      <div id="login_banner">
        <h3 class="prompt">Welcome back!</h3>
      </div>
      
      <br>

      <label for="username" class="login_labelUsername">Username:</label><br>
      <input type="text" name="username" placeholder="username"class="login_inputUsername"/>

      <br><br>

      <label for="password" class="login_labelPassword">Password:</label><br>
      <input type="password" name="password" placeholder="password"class="login_inputPassword"/>

      <br><br>

      <div id="login_buttonContainer">
        <button class="login_buttonLogin">LOGIN</button>
        <button class="login_buttonRegister">REGISTER</button>
      </div>
    </form>
  </div>
