  <div id="register_container">
    <form action="/register" method="POST" id="register_wrap">
      <div id="register_banner">
        <h3 class="prompt">We're happy to have you!</h3>
      </div>
      
      <br>

      <label for="username" class="register_labelUsername">Username:</label><br>
      <input type="text" name="username" placeholder="username"class="register_inputUsername"/>

      <br><br>

      <label for="password" class="register_labelPassword">Password:</label><br>
      <input type="password" name="password" placeholder="password"class="register_inputPassword"/>

      <br><br>

      <div id="register_buttonContainer">
        <button class="register_buttonRegister">REGISTER</button>
        <button class="register_buttonLogin">LOGIN</button>
      </div>
    </form>
  </div>
